{% extends 'Mentor/mentor_home.html' %}
{% block x %}
<style>
    h4{
        font-weight: bold;
    }
</style>
<h4>{{data3.batch_name}}</h4>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Day</th>
        <th>Period 1</th>
        <th>Period 2</th>
        <th>Period 3</th>
        <th>Period 4</th>
        <th>Period 5</th>
        <th></th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td style="font-weight: bold;">{{i.day}}</td>
        <td>{{i.period1}}</td>
        <td>{{i.period2}}</td>
        <td>{{i.period3}}</td>
        <td>{{i.period4}}</td>
        <td>{{i.period5}}</td>
        <td><a href="/edit_timetable/{{i.timetable_id}}#mysec" class="btn btn-primary">Edit</a></td>
        <td><a href="/delete_timetable/{{i.timetable_id}}#mysec" class="btn btn-danger">Delete</a></td>

    </tr>
    {% endfor %}
        
    </tbody>
</table>
    
{% endblock x %}
