{% extends 'Coordinator/coordinator_home.html' %}
{% block x %}

<body>
    <style>
        .glassmorphic-card {
            background: rgba(41, 151, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.125);
            padding: 20px;
            width: 50%;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            background: rgba(255, 255, 255);
            border: 1px solid rgba(255, 255, 255, 0.125);
            border-radius: 10px;
            padding: 10px;
            width: 100%;
        }

        label {
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .btn-primary {
            background: #f96d00;
            border: 1px solid #f96d00;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
        }

        .btn-primary:hover {
            background: #f96d00;
            border: 1px solid #f96d00;
            border-radius: 10px;
        }
    </style>

    <div class="card glassmorphic-card">
        <div class="card-body">
            <form action="/add_student_post/#mysec" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Course</label>
                    <select class="form-control" name="course" id="course">
                        <option value="">Select Course</option>
                        {% for i in data %}
                        <option value="{{ i.course_id }}">{{ i.course_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Batch</label>
                    <select class="form-control" name="batch" id="batch">
                        <!-- <option value="">Select Batch</option>
                        {% for i in data1 %}
                        <option value="{{i.batch_id}}">{{i.batch_name}}</option>
                        {% endfor %} -->
                    </select>
                </div>



                <script>
                    document.getElementById('course').addEventListener('change', function () {
                        var courseValue = document.getElementById('course').value;
                        var childDropdown = document.getElementById('batch');
                        childDropdown.innerHTML = '';





                        fetch('/get_batch/?course_id=' + courseValue)


                            .then(response => response.json())
                            .then(data => {
                                data.forEach(child => {
                                    var option = document.createElement('option');
                                    option.value = child.batch_id;
                                    option.text = child.batch_name;
                                    childDropdown.appendChild(option);
                                });
                            });
                    });
                </script>
                
                
                <button type="submit" class="btn btn-primary">Add Students</button>

            </form>
        </div>
    </div>

</body>

{% endblock %}